# Node modules
node_modules

# Build outputs
dist

# Wrangler files
.wrangler

# Environment variables
.env
.env.*.local
.env.local

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

# Wranger config
wrangler.toml
wrangler.toml.local
